.cp_bgpattern01 {
  max-width: 50%;
  background-color: #eee8aa;
  margin: 0 auto;

}

.cp_bgpattern06 {
	background-color:#FFD54F;
	background:linear-gradient(#FFD54F,#FFA000);
}
.cp_bgpattern06::after {
	content: '';
	height:100%;
	width:100%;
	display:block;
	background-size: 20px 20px;
	background-image:
	 linear-gradient(rgba(255,255,255,.25) 3%, rgba(255,255,255,.25) 3%, transparent 3%,
	  transparent 97%, rgba(255,255,255,.25) 97%, rgba(255,255,255,.25) 100%),
	 linear-gradient(90deg, rgba(255,255,255,.25) 3%, rgba(255,255,255,.25) 3%, transparent 3%,
	  transparent 97%, rgba(255,255,255,.25) 97%, rgba(255,255,255,.25) 100%);
}


p {text-align:center; }

body {
  -webkit-text-size-adjust: 100%;
  background: radial-gradient(#F2B9A1, #EA6264);
}
ul {
  padding-left:30px;
  padding-right:10px;
}

ol {
  position: relative;
    padding-left:0px;
  padding-right:10px;

}
ol::after {
  display: block;
  content: '';
  position: absolute;
  top: .5em;
  left: -1em;
  width: 6px;
  height: 6px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

